table{
    border-radius: 50px;
    border-color: blue;
    width: 50%;
    color: aliceblue;
    border-collapse: collapse;
    width: 100%;
    
}

body{
    background-color: darkgrey;
    background-image: url(image/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.second {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
}

.david{
    color: blue;
}

div{
    border-radius: 60px;
}

.form{
    border-radius: 0%;
}

div p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

div > p{
    color: white;
}

input [type="text"]{
    border-radius: 20px;
    margin: 5px;
    border-color: blue;
}

input [type="email"]{
    border-radius: 20px;
    margin: 5px;
    border-color: red;
}

input [type = "password"]{
    border-radius: 20px;
    margin: 5px;
    border-color: yellow;
}

#head {
    text-align: center;
    font-size: 60px;
    color: red;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* Text Styling */

p{
    letter-spacing: 5px;
    word-spacing: 30px;
    text-indent: 40px;
    text-align: left;
    text-decoration: underline;
    text-decoration: solid;
    font-family: 'Times New Roman';
}

h1, h2, h3 {
    text-transform: uppercase;
}

/* Links styling */
a {
    color: green;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: white;
}

a:active {
    color: yellow;
}

/* IMAGE OPACITY */
img{
    opacity: 1;
}

img:hover{
    opacity: 0.4;
}

/* CSS LIST */

ul{
    list-style-type: circle;
    color: white;
    list-style-position: inside;
}

ol{
    list-style-type: lower-alpha;
    color: white;
    list-style-position: outside;
}
dl{
    color: white;
}

/* CSS TABLES */

table{
    border-collapse: collapse;
    border-radius: 20px;
    width: 65%;
    border: 2px solid black;
}

.imgg{
    position: absolute;
    top: 10px;
    left: 20px;
}

.but{
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}